{# Home page #}
{% extends "index.html.twig" %}

{# Pase URL #}
{% block baseurl %}{{ constant('SITE_URL') }}{% endblock %}

{# Gestion SEO #}
{% block title %}Oubli de mot de passe{% endblock %}
{% block description %}Merci de rentrer votre adresse email afin de réinitialiser votre mot de passe.{% endblock %}


{# Ajout des nouveaux styles #}
{% block stylesheets %}

{% endblock %}

{% block header %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="{{ constant('SITE_URL_BASE') }}"><i class="icon-fast-backward icon-white"></i> Revenir à {{ constant('SITE_NOM') }}</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>

<noscript>
<style type="text/css">
        #jsactif {
            display:none!important;
        }
</style>
<br/><br/><br/>
<section class="container">

        <div class="hero-unit">
            <p class="alert alert-error">
                Le javascript est inactif sur votre ordinateur.<br/>
                Par conséquent, il vous est impossible d'accéder à l'interface de gestion.
            </p>
        </div>
</section>
</noscript>
{% endblock %}



{# Contenu de la page #}
{% block content %}



<br/><br/><br/>
<section class="container" id="jsactif">

    <div class="hero-unit">
        
        {% if formValid %}
        
        <h3>Félicitations !</h3>
        
        <p class="alert alert-info" style="font-size: 14px;">

            Votre nouveau mot de passe est maintenant actif.<br/><br/>
            
            Vous pouvez dès maintenant vous connecter à votre compte en cliquant sur ce lien : <br/>
            
            <a style="font-size: 16px; font-weight: bold;" href="auth/login" title="Revenir à la page de connexion"> - Retourner à la page de connexion</a>

        </p>
        
        
        {% else %}

        <p class="alert alert-info" style="font-size: 14px;">

            Merci de choisir votre nouveau mot de passe.

        </p>

        <form class="form-horizontal" id="validation-login" method="POST" action="auth/change-password">

            <legend></legend>

            <div class="control-group">
                <label class="control-label" for="inputEmail">Mot de passe :</label>
                <div class="controls">
                    <input type="hidden" name="l" value="{{ email }}" />
                    <input type="hidden" name="t" value="{{ token }}" />
                    <input type="password" id="inputPwd" placeholder="Nouveau mot de passe" name="pwd" data-verif='true' data-message='Ce mot de passe est incorrect.<br/>Merci de choisir des caractères valides.' data-type='password'> 
                    <button class="btn btn-primary" type="submit" id="submitChange">Valider</button>
                </div>
            </div>

        </form>
        <br/>
        <i class="icon-fast-backward"></i> <a href="auth/login" title="Revenir à la page de connexion">Revenir à la page de connexion</a>

        {% endif %}
        
    </div>
</section>

{% endblock %}



{# Importation du JS #}
{% block jsinclude %}
<script>
    
</script>
{% endblock %}