<form method="POST" class="form-horizontal" id="editAddForm" name="editAddForm"
      data-method="{{ constant('GET_METHOD') }}" data-controller="{{ constant('GET_CONTROLLER') }}">

  <div class="control-group">
    <label class="control-label">Nom :</label>

    <div class="controls">
      <input type="text" name="nom" placeholder="Nom…" value="{{ objUnivers.nom }}" data-verif="true">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Level :</label>

    <div class="controls">
      <input type="text" name="level" placeholder="Niveau de privilèges…" value="{{ objUnivers.level }}"
             data-verif="true">
    </div>
  </div>

  <input type="hidden" name="idItem" value="{{ objUnivers.id }}">

  <div class="form-actions">
    <button class="btn btn-primary" type="submit">Valider</button>
    <a href="#" class="btn" id="confirmFalse" data-dismiss="modal" aria-hidden="true">Annuler</a>
  </div>

</form>