<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <base href="{% block baseurl %}{% endblock %}"/>
    <title>{% if seoTitle is not null %}{{ seoTitle }}{% else %}{% block title %}En construction ...{% endblock %}{% endif %}</title>
    <meta name="description"
          content="{% if seoDescription is not null %}{{ seoDescription }}{% else %}{% block description %} Description de le page {% endblock %}{% endif %}"/>

    <meta name="keywords" content=""/>
    <meta name="author" content="AUTEUR"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.ico"/>

    <link rel="stylesheet" href="{{ constant('SITE_URL') }}gestion/web/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ constant('SITE_URL') }}gestion/web/lib/bootstrap/css/bootstrap-responsive.css"/>
    <link rel="stylesheet" href="{{ constant('SITE_URL') }}gestion/web/lib/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ constant('SITE_URL') }}gestion/web/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="web/css/style.css" type="text/css"/>
    {% block stylesheets %}
        <!-- Ajout des css supplementaires here -->
    {% endblock %}

    {% block linkrel %}
    {% endblock %}

</head>


<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->


{% block header %}
    <header id="header">
        {% if seoH1 is not null %}
            <h1 style="text-indent: -40000px;"><a href="{{ siteUri }}" title="{{ seoH1 }}">{{ seoH1 }}</a></h1>
        {% else %}
            <h1 style="text-indent: -40000px;">{% block h1 %}{% endblock %}</h1>
        {% endif %}
        {% include 'views/layouts/header.html.twig' %}
    </header>
{% endblock %}

<section id="main" {% block container %}class="container"{% endblock %}>
    {% block content %}{% endblock %}
</section>



{% block footer %}
    <footer id="footer">
        {% include 'views/layouts/footer.html.twig' %}
    </footer>
{% endblock %}


<div id="messageBox" class="messageBox">
    <div class="contentBox">

    </div>
</div>

<script type="text/javascript" src="{{ constant('SITE_URL') }}gestion/web/lib/js/jquery.js"></script>
<script type="text/javascript" src="{{ constant('SITE_URL') }}gestion/web/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ constant('SITE_URL') }}gestion/web/lib/js/ArgetFwkLibs.min.js"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

{% block jsinclude %}

{% endblock %}

</body>

</html>